# use glob syntax.
config/database.yml
*.log
*.sqlite3
*.pid
public/galleries*
test
public/pictures
public/pictrails_pictures
public/pictrails_thumbnails
public/index.html
pkg
coverage
.svn
*.cache
nbproject
