[submodule "vendor/plugins/mimetype-fu"]
	path = vendor/plugins/mimetype-fu
	url = git://github.com/matta/mimetype-fu.git
[submodule "vendor/plugins/attachment_fu"]
	path = vendor/plugins/attachment_fu
	url = git://github.com/technoweenie/attachment_fu.git
[submodule "vendor/plugins/will_paginate"]
	path = vendor/plugins/will_paginate
	url = git://github.com/shingara/will_paginate.git
[submodule "vendor/plugins/rspec"]
	path = vendor/plugins/rspec
	url = git://github.com/dchelimsky/rspec.git
[submodule "vendor/plugins/rspec-rails"]
	path = vendor/plugins/rspec-rails
	url = git://github.com/dchelimsky/rspec-rails.git
[submodule "vendor/plugin/atom_feed_helper"]
	path = vendor/plugin/atom_feed_helper
	url = git://github.com/rails/atom_feed_helper.git
[submodule "vendor/plugins/acts-as-taggable-on"]
	path = vendor/plugins/acts-as-taggable-on
	url = git://github.com/mbleigh/acts-as-taggable-on.git
[submodule "vendor/plugins/atom_feed_helper"]
	path = vendor/plugins/atom_feed_helper
	url = git://github.com/rails/atom_feed_helper.git
[submodule "vendor/plugins/acts_as_taggable_on_steroids"]
	path = vendor/plugins/acts_as_taggable_on_steroids
	url = git://github.com/mattetti/acts_as_taggable_on_steroids.git
