#splash_screen {
    width: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	position: absolute;
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	opacity: 0.8;
	z-index: 1;
	cursor: pointer;
}

#splash_screen.bg {
    background: url(bg.gif);
}

#image_content {
	border: 10px solid #FFF;
	background-color: #FFF;
	margin: 0;
	position: absolute;
	z-index: 2;
}

#image_content img {
	margin: 0;
	padding: 0;
	display: none;
	z-index: 3;
	cursor: pointer;
}

#title_content {
    width: 100%;
	font-size: 11px;
	color: #333;
	border: 10px solid #FFF;
	background-color: #FFF;
	margin: 10px 0 0 -10px;
	padding: 0;
	left: 0;
	z-index: 3;
	position: absolute;
}

#splash_previous, #splash_next {
	margin: 0;
	padding: 0;
	top: 0;
	display: block;
	position: absolute;
	z-index: 4;
	cursor: pointer;
	width: 20px;
	height: 20px;
}
#splash_previous { right: 40px; background: url(control_rewind.png) no-repeat center; }
#splash_next { right: 0; background: url(control_forward.png) no-repeat center; }
#splash_pause { top: 0; right: 20px; background: url(control_stop.png) no-repeat center; }
#splash_play { top: 0; right: 20px; background: url(control_play.png) no-repeat center; }
#splash_notification.playing { background: url(control_play.png) no-repeat center; }
#splash_notification.paused { background: url(control_stop.png) no-repeat center; }
#splash_pause, #splash_play, #splash_notification {
	margin: 0;
	padding: 0;
	display: block;
	position: absolute;
	z-index: 4;
	cursor: pointer;
	width: 20px;
	height: 20px;
}

#splash_close {
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	display: block;
	position: absolute;
	z-index: 4;
	cursor: pointer;
	width: 20px;
	height: 20px;
	background: url(cross.png) no-repeat center #FFF;
}

#splash_description {
	margin-top: 4px;
	font-weight: bold;
}

div.ajax-loading { background: url(ajax-loader-thickbox.gif) no-repeat center; }