<% @page_title = "All pictures" %>

<% content_for 'tasks' do %>
  <li>
    <%= link_to 'List of Pictures', admin_pictures_url, :class => 'current' %>
  </li>
<% end %>

<ul id="picture_list">
  <%= render :partial => 'admin/pictures/picture', :collection => @pictures %>
</ul>

<%= will_paginate @pictures %>
