<% @page_title = "All pictures" %>

<table id="picture_list">
  <% @pictures.each_slice(3) do |sub_pictures| %>
    <tr>
      <%= render :partial => 'admin/pictures/picture', :collection => sub_pictures %>
    </tr>
  <% end %>
</table>

<%= will_paginate @pictures %>
