body {
  background-color : #525252;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  color : white;
}

#title h1 {
    text-align: center;
}

#breadcrumb {
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #CCCCCC;
  padding-top: 10px;
  padding-bottom: 10px;
  padding: 10px;
  font-weight: bold;
  font-size: 0.7em;
}

#breadcrumb a {
  text-decoration: none;
}

#breadcrumb a:hover {
    color: #F4560F;
    text-decoration: underline;
}

#container {
  min-height: 400px;
}
#content {
  text-align : center;
  float: right;
  width: 78%;
  margin : 0pt auto;
}

a, a:visited {
  color : white;
}

#gallery_list, #picture_list {
    margin-left: auto;
    margin-right: auto;
}

#gallery_list td, #picture_list td {
   padding-right: 30px;
   padding-left: 20px;
   padding-bottom: 20px;
   padding-top: 20px;
}

#footer {
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #CCCCCC;
  font-size : 0.6em;
  color : #AAAAAA;
  clear : both;
  text-align: center;
  padding: 8px;
}

.notice {
  border : 1px solid ;
}

.fieldWithErrors {
  margin-right : auto;
  margin-left : auto;
}

#errorExplanation {
  color : black;
}

.no_display {
  z-index : 200;
  position: relative;
  top : -70%;
}

#admin_table td {
  border-bottom : 1px solid #324E79;
  border-spacing : 0px;
}

#admin_table {
  border : 1px solid #324E79;
  margin-right: auto;
  margin-left: auto;
  border-collapse: collapse;
}
#admin_table thead {
  background-color : #324E79;
}

#admin_table img {
  border : medium none;
}

#admin_table a:hover {
  background-color : #525252;
}

.pagination {
  clear: both;
}

.css1 { font-size: 0.8em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.6em; }
.css4 { font-size: 2.0em; }

#menubar {
  width: 20%;
  font-size: 0.7em;
  float:left;
  background-color : #A3A3A3;
  margin-top: 50px;
}

#menubar dt {
  padding-left: 10px;
  background-color: #336699;
}

#menubar dd {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#menubar ul {
  padding-left: 20px;
}
