<% @page_title = 'List of Pictures' %>

<table id="picture_list">
  <% @taggings.each_slice(3) do |sub_picture| %>
    <tr>
      <% sub_picture.each do |tagging| %>
        <%= render :partial => tagging.taggable %>
      <% end %>
    </tr>
  <% end %>
</table>

<%= will_paginate @taggings %>
