<% @page_title = 'List of Pictures' %>

<table id="picture_list">
  <% @pictures.each_slice(3) do |sub_picture| %>
    <tr>
      <%= render :partial => sub_picture %>
    </tr>
  <% end %>
</table>

<%= will_paginate @pictures %>
