<% @page_title = "Picture : #{@picture.title}" %>

<h2>Picture : <%= @picture.title %></h2>

<p>
  <%= @picture.description %>
</p>

<p>
  <span><%= image_tag(@picture.public_filename) %></span>
</p>

<%= link_to "Back to gallery #{@picture.gallery.name}", gallery_path(@picture.gallery) %>
