<% @page_title = "Picture : #{@picture.title}" %>

<%= breadcrumbs @picture.gallery %>

<h2>Picture : <%= @picture.title %></h2>

<p>
  <%= @picture.description %>
</p>

<p>
  <span><%= image_tag(@picture.public_filename) %></span>
</p>
