<% @page_title = "Picture : #{@picture.title}" %>

<h2>Picture : <%= @picture.title %></h2>

<p>
  <span><%= image_tag(@picture.public_filename) %></span>
</p>

<p>
  <%= @picture.description %>
</p>

<p>
  Tags : <%= tag_link @picture.tag_list %>
</p>
