<dt>Galleries</dt>
<dd>
  <ul>
    <% Gallery.without_parent.each do |gallery| %>
      <li>
        <%= link_gallery_with_number(gallery) %> 
        <% unless @gallery.nil? %>
          <% if @gallery == gallery || @gallery.ancestors.include?(gallery) %>
            <ul>
              <% gallery.children.each do |gallery_child| %>
                <li><%= link_gallery_with_number(gallery_child) %></li>
              <% end %>
            </ul>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</dd>
