<dt>Galleries</dt>
<dd>
  <ul>
    <% Gallery.without_parent.each do |gallery| %>
      <li>
        <%= link_gallery_with_number(gallery) %> 
        <% unless @gallery.nil? %>
          <%= tree_gallery(gallery) %>
        <% end %>
      </li>
    <% end %>
  </ul>
</dd>
