<% @page_title = 'List of Gallery'  %>

<table id="gallery_list">
  <% @galleries.each_slice(3) do |sub_galleries| %>
    <tr>
      <%= render :partial => sub_galleries %>
    </tr>
  <% end %>
</table>

<%= will_paginate @galleries %>

<% unless @tags.empty? %>
  <h2>Tags</h2>

  <% tag_cloud @tags, %w(css1 css2 css3 css4) do |tag, css_class| %>
    <%= link_to tag.name, { :controller => "tags", :action => "show", :id => tag.name }, :class => css_class %>
  <% end %>
<% end %>
