<% @page_title = 'List of Gallery'  %>

<span id="slogan"><%= this_webapp.webapp_subtitle%></span>

<ul id="gallery_list">
  <%= render :partial => @galleries %>
</ul>

<%= will_paginate @galleries %>
