<% @page_title = "Gallery : #{@gallery.name}" %>

<%= render :partial => 'top_show' %> 

<%= link_to 'Back to all galleries', galleries_path %>

<% if @pictures.empty? -%>
  <p>
    There are no picture in this gallery.
  </p>
<% else %>
  <ul id="picture_list">
    <%= render :partial => @pictures %>
  </ul>
  <%= will_paginate @pictures %>
<% end -%>
